/* style.css */

* {
  --background: #121212;
  --primary: #7871aa;
  --secondary: #2a2a2a;
  --heading: #ffffff;
  --sub-heading: #d4d4d4;
  --text: #b5b5b5;
}

html {
  overflow-x: hidden;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: "Roboto";
  margin: 0;
}

h1 {
  font-size: 112px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--heading);
  margin: 0 0 12px 0;
}

h2 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--heading);
  margin: 0;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--sub-heading);
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--text);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
  margin: 0;
}

::selection {
  background: var(--primary);
}

.section {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid var(--primary);
  margin-bottom: 32px;
}

.section-heading h2 {
  margin-bottom: 8px;
}

#sidebar {
  position: fixed;
  top: 50%;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  background-color: var(--secondary);
  border-radius: 10px;
  transform: translateY(-50%);
  z-index: 1000;
}

#sidebar a {
  display: block;
  color: #ffffff;
  width: fit-content;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s ease;
}

#sidebar a i {
  font-size: 32px;
}

#sidebar a:hover {
  background-color: var(--primary);
  box-shadow: 0 0 8px var(--primary), 0 0 16px var(--primary);
  padding-left: 6px;
  transform: translateX(2px);
}

#scroll-arrow {
  color: var(--sub-heading);
  position: fixed;
  top: 95%;
  left: 50%;
  font-size: 36px;
  pointer-events: none;
  z-index: -1;
  transition: 0.5s;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-20px) translateX(-50%);
  }
}

#home {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  margin-top: 50vh;
  scroll-margin-top: 20vh;
}

#about p {
  margin-bottom: 28px;
}

#age {
  font-size: inherit;
  font-family: "Roboto Mono", monospace;
}

#work {
  margin-top: 90vh;
  scroll-margin-top: 20vh;
}

.timeline-items {
  max-width: 1200px;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--primary);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 20px;
  width: 20px;
  background-color: var(--primary);
  box-shadow: 0 0 25px var(--primary), 0 0 50px var(--primary);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: rgba(0, 0, 0, 0.75);
  border: 3px solid var(--primary);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--primary);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.timeline-content h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
}

.timeline-content:hover {
  transform: scale(1.025);
  box-shadow: 0 0 25px var(--primary);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::-webkit-scrollbar-track {
  background-color: black;
  width: 50px;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 20vh;
  margin-top: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010c0;
  backdrop-filter: blur(1px);
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  #scroll-arrow {
    top: 93%;
    font-size: 32px;
  }
}
