html {
    overflow-x: hidden;
    touch-action: manipulation;
    scroll-behavior: smooth;
}

p {
    font-size: 24px;
    font-family: Arial;
    color: #cacaca;
}

h3 {
    height: min-content;
    font-family: Arial;
    font-weight: 600;
    font-size: 36px;
    color: #3185FC
}

h3 a {
    font-family: Arial;
    font-weight: 600;
    font-size: 36px;
    color: #fcfcfc
}

.section {
    scroll-margin-top: 128px;
    width: 45vw;
    height: 100vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: #cacaca;
    text-decoration: none;
    transition: 0.2s;
}

.link:hover {
    color: #3185FC !important;
    text-decoration: underline;
}

#navbar {
    position: fixed;
    top: -1vh;
    left: -1vw;
    height: 7vh;
    width: 90vw;
    padding-top: 1vh;
    padding-left: 6vw;
    padding-right: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(7, 15, 23, 0);
    transition: 0.2s;
}

#main-button{
    color: #3185FC !important; 
    font-size: 32px !important; 
    font-weight: 400 !important; 
    text-decoration: none;
}

#navbar div {
    display: flex;
    align-items: center;
}

#navbar a {
    color: #cacaca;
    font-size: 22px;
    font-family: Arial;
    font-weight: 600;
    margin-left: 32px;
    margin-right: 32px;
}

#start {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start h1 {
    font-family: Arial;
    font-size: 100px;
    font-weight: 550;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: -5vh;
}

#start p {
    color: #bdbdbd;
}

#footer {
    position: relative;
    z-index: 999;
    bottom: -2vh;
    left: -2vw;
    height: 22vh;
    width: 102vw;
    background: rgb(7, 15, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    p {
        font-size: 16px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h3 a {
        font-size: 20px;
    }
    
    .section {
        width: 70vw;
    }

    #navbar a {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-button {
        font-size: 20px !important;
    }

    #start h1 {
        font-size: 40px;
    }

    #start p {
        font-size: 16px;
    }
}