<div id="footer">
    <p>© Václav Parma</p>
  </div>
  
  <style>
    #footer {
      bottom: 0;
      width: 100%;
      height: 20vh;
      margin-top: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #101010c0;
      backdrop-filter: blur(1px);
    }
  </style>